/* [data-scroll-container] {
  overflow: hidden;
}

[data-scroll-section] {
  position: relative;
  width: 100%;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  user-select: none;
} */
